fastapi[all]
sqlalchemy
geoalchemy2
psycopg2-binary
alembic
python-dotenv
redis
celery
python-multipart
pydantic-settings
numpy
pandas
geopandas
xarray
rioxarray
shapely
pyproj
scipy
scikit-learn
statsmodels
plotly
openai